%h2
  Add a new peer

%form{ method: 'post', action: 'http://localhost:8080/SharkNetAPI/peers' }
  %input{ type: 'text', name: 'name',      placeholder: 'Name'    }
  %input{ type: 'text', name: 'si',        placeholder: 'SI'      }
  %input{ type: 'text', name: 'addresses', placeholder: 'Address' }

  %input{ type: 'submit' }
