!!!
%html
  %head
    %title
      SharkNet Web Client

    %meta{ charset: 'utf-8' }


    -# Styling components
    %link{ href: 'css/shared/fonts.css', rel: 'stylesheet' }
    %link{ href: 'css/shared/base.css',  rel: 'stylesheet' }

    -# Styling partials
    %link{ href: 'css/partials/header.css', rel: 'stylesheet' }

    -# Script libraries
    %script{ src: 'js/libs.js' }

    -# API | Routing
    %script{ src: 'js/api/routing/routes.js' }
    %script{ src: 'js/api/routing/peer-routes.js' }

    -# API | Endpoints
    %script{ src: 'js/api/endpoints/peers.js' }

    -# API | Script
    %script{ src: 'js/api/api.js' }

    -# Application script
    %script{ src: 'js/application.js' }

    -# Application components
    %script{ src: 'js/components/page-element.js' }
    %script{ src: 'js/components/partial.js' }

    -# Application partials
    %script{ src: 'js/partials/header.js' }

  %body
    :coffeescript
      new Header 'header'
