!!!
%html
  %head
    %title
      SharkNet Web Client

    -# Styling components
    %link{ href: 'css/shared/fonts.css', rel: 'stylesheet' }
    %link{ href: 'css/shared/base.css',  rel: 'stylesheet' }

    %link{ href: 'css/partials/header.css', rel: 'stylesheet' }

    -# Script libraries
    %script{ src: 'js/libs.js' }

    -# Application partials
    %script{ src: 'js/partials/header.js' }

    -# Application script
    %script{ src: 'js/application.js' }


  %body
    %header#header.header

    :coffeescript
      application = new Application
