!!!
%html
  %head
    %title
      SharkNet Web Client

    -# Styling components
    %link{ href: 'css/base.css', rel: 'stylesheet' }

    -# Script libraries
    %script{ src: 'js/libs.js' }


  %body
